{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
  <h2>Demo story shortcuts</h2>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Semantic transactions search</h5>
          <p class="card-text">See how a customer search experience can be dramatically improved by adding semantic search to their banking experience. </p>
          <a href="/onlinebanking/search" class="btn btn-primary">Launch &gt;&gt;</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Customer 360</h5>
          <p class="card-text">See full customer observability in Kibana using converged banking data, apply anomaly detection jobs to customer behaviour.</p>
          <a href="#" class="btn btn-primary">Launch &gt;&gt;</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Generative AI</h5>
          <p class="card-text">Show how proprietary data can be leveraged to create a unique cross-sell and upsell experience for a customer.</p>
          <a href="#" class="btn btn-primary">Launch &gt;&gt;</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <h2>Data management</h2>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Regenerate transactions</h5>
          <p class="card-text">Rebuild the transactions dataset with fresh data. (Be aware that this can take a long time.)</p>
          <a href="#" class="btn btn-primary">Launch &gt;&gt;</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Export</h5>
          <p class="card-text">Export all records Elasticsearch in order to seed indices with data.</p>
          <a href="#" class="btn btn-primary">Launch &gt;&gt;</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Manage cluster details</h5>
          <p class="card-text">Update your Elasticsearch cluster settings.</p>
          <a href="envmanager/cluster" class="btn btn-primary">Launch &gt;&gt;</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}